@use "./global/variables";

.range {
  padding-top: 11px;

  @media (min-width: variables.$tablet-width) and (max-width: variables.$tablet-width-only) {
    padding-left: 7px;
    padding-right: 16px;
  }
}

.range__target {
  position: relative;
  width: 100%;
  height: 2px;
  margin-bottom: 36px;
  background-color: variables.$grey;
  cursor: pointer;

  &--disabled {
    cursor: default;
  }

  &--nojs {
    display: none;
  }

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 32px;
  }
}

.range__base {
  position: relative;
  width: calc(100% - 22px);
  margin: 0 auto;
  height: 100%;
}

.range__connects {
  position: relative;
  width: 100%;
  height: 100%;
}

.range__connect {
  position: absolute;
  top: -1px;
  right: 0;
  height: 4px;
  width: 100%;
  background-color: variables.$primary;
  will-change: transform;
  transform-origin: 0 0;
  transform-style: flat;
}

.range__target--disabled .range__connect {
  background-color: variables.$grey;
}

.range__origin {
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
  width: 100%;
  will-change: transform;
  transform-origin: 0 0;
  transform-style: flat;
}

.range__handle {
  position: absolute;
  top: -11px;
  right: -12px;
  display: block;
  width: 24px;
  height: 24px;
  padding: 0;
  box-sizing: border-box;
  border: 2px solid variables.$primary;
  border-radius: 50%;
  background-color: variables.$white;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover,
  &:focus {
    &::before {
      background-color: variables.$primary-025;
    }
  }

  &:focus-visible {
    outline: 2px solid variables.$primary;
    outline-offset: 4px;
  }

  &:active {
    &::before {
      background-color: variables.$primary;
    }
  }

  &[disabled] {
    border-color: variables.$grey;
    cursor: default;

    &::before {
      content: none;
    }
  }
}

.range__touch-area {
  height: 100%;
  width: 100%;
}

.range__inputs {
  position: relative;
  display: flex;
  gap: 44px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9px;
    height: 2px;
    background-color: variables.$grey;
    transform: translate(-50%, -50%);
  }

  @media (min-width: variables.$tablet-width) {
    gap: 34px;
  }

  @media (min-width: variables.$desktop-width) {
    gap: 49px;
  }
}

.range__label {
  flex-grow: 1;
}

.range__input {
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: inherit;
  background-color: variables.$white;
  border: 2px solid variables.$primary-lighter;
  border-radius: 4px;
  appearance: textfield;

  &::placeholder {
    color: variables.$grey;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    border-color: variables.$primary-darker;
    outline: none;
    appearance: textfield;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 6px 10px;
  }
}

.range__input:disabled {
  color: variables.$grey;
  border-color: variables.$grey-light;
}

.range__input::-webkit-outer-spin-button,
.range__input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}
